<h1>
  <%= t ".title" %>
  <span>
    <%= link_to t(".btn_new"), new_supervisor_course_path, class: "btn btn-primary" %>
  </span>
</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".description" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @courses %>
    <%= will_paginate %>
  </tbody>
</table>
