<div class="page-header">
  <%= form_tag supervisor_uploads_path, multipart: true, class: "form-inline pull-right" do %>
    <div class="input-group">
      <span class="input-group-btn">
        <%= link_to t("application.buttons.create_trainee"), new_supervisor_user_path,
          class: "btn btn-primary" %>
        <%= submit_tag t(".import"),class: "btn btn-success" %>
      </span>
      <input type="text" class="form-control" readonly>
      <span class="input-group-btn">
        <span class="btn btn-default btn-file">
          <i class="glyphicon glyphicon-folder-open"></i>
          <%= file_field_tag :file %>
        </span>
      </span>
    </div>
  <% end %>
  <h2><%= t ".all_trainees" %></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to t("application.buttons.view_progress"), supervisor_user_path(user),
            class: "btn btn-info", data: {toggle:"modal", target: "#traineeProgressModal",
            remote: true, method: :get} %>
        </td>
        <td>
          <%= link_to t("application.buttons.edit"),
            edit_supervisor_user_path(user), class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to t("application.buttons.remove"), supervisor_user_path(user),
            method: :delete, data: {confirm: t("application.messages.confirm")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<div id="traineeProgressModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".user_progress" %></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "application.buttons.close" %>
        </button>
      </div>
    </div>
  </div>
</div>
