<% provide :title, t("application.general.subject") %>
<div class="page-header">
  <h2><%= @subject.name %></h2>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width: <%= percent_complete_subject(@user_subject) %>">
        <%= percent_complete_subject(@user_subject) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p><%= @subject.instruction %></p><br />
    <fieldset class="fsStyle">
      <legend class="legendStyle">
        <span class="label label-primary"><%= t "supervisor.subject.show.task" %></span>
      </legend>
      <% if @subject.tasks.count > 0 %>
        <%= form_for @user_subject, url: subject_user_subject_path(@subject) do |f| %>
          <div class="row">
            <%= f.fields_for :user_tasks do |builder| %>
              <div class="col-lg-2">
                <% if builder.object.id.nil? %>
                  <div class="thumbnail text-center">
                    <h4><%= builder.object.task.name %></h4>
                    <p><%= builder.check_box :task_id, {checked: false, disabled: false},
                      builder.object.task.id %></p>
                    <%= builder.hidden_field :user_id, value: @user_id %>
                  </div>
                <% else %>
                  <div class="thumbnail thumbnail-disable text-center">
                    <h4><%= builder.object.task.name %></h4>
                    <p><%= builder.check_box :task_id, {checked: true, disabled: true} %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="row text-center">
            <%= f.submit t("application.buttons.submit"), class: "btn btn-danger",
              disabled: percent_complete_subject(@user_subject) == "100%" %>
          </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>
