<% @users.each do |user| %>

  <%= f.fields_for :course_users, @course.course_users.build do |builder| %>
    <tr>
      <td>
        <%= builder.check_box :user_id, {}, user.id %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td id="update_user_<%=user.id%>">
        <%= link_to t("application.buttons.add"), supervisor_course_course_user_path(@course),
          class: "btn btn-primary", remote: true, method: :post,
          data: {params: "user_id=#{user.id}"} %>
      </td>
    </tr>
  <% end %>

<% end %>
