<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("application.general.TM"), root_path , class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("application.general.course"), "#" %></li>
        <li><%= link_to t("application.general.about"), about_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("application.typo.logout"), logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to t("application.general.login"), login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
